@model KN_ProyectoClase.Models.UsuarioModel

@{
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">

        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Crear Cuenta</h1>
                    </div>

                    @using (Html.BeginForm("RegistrarCuenta","Principal"))
                    {

                    <form class="user">
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.Identificacion, new { @class = "form-control form-control-user", @placeholder = "Identificación" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control form-control-user", @placeholder = "Nombre" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.Correo, new { @class = "form-control form-control-user", @placeholder = "Correo" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.Contrasenna, new { @class = "form-control form-control-user", @placeholder = "Contrasenna", @type = "password" })
                        </div>
                        <input type="submit" class="btn btn-primary btn-user btn-block" value="Registrar Cuenta">
                            
                    </form>
                    }
                    <hr>
                    <div class="text-center">
                        <a class="small" href="@Url.Action("RecuperarContrasenna","Principal")">Recuperar Contraseña?</a>
                    </div>
                    <div class="text-center">
                        <a class="small" href="@Url.Action("IniciarSesion","Principal")">Iniciar Sesión</a>
                    </div>
                    <div class="text-center">
                        <a class="small" href="@Url.Action("Inicio","Principal")">Pantalla Principal!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


